apiVersion: apps/v1
kind: Deployment
metadata:
  name: lubelogger
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lubelogger
  template:
    metadata:
      labels:
        app: lubelogger
    spec:
      containers:
        - name: lubelogger
          image: hargata/lubelogger:v1.5.6
          envFrom:
            - secretRef:
                name: lubelogger-container-env
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: lubelogger-storage
              mountPath: /var/www/data

      volumes:
        - name: lubelogger-storage
          persistentVolumeClaim:
            claimName: lubelogger-storage

