apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-scripts
data:
  init-users.sql.template: |
    CREATE USER linkding WITH ENCRYPTED PASSWORD '${LINKDING_USER_PASSWORD}';
    CREATE DATABASE linkding;
    GRANT ALL PRIVILEGES ON DATABASE linkding TO linkding;

  init-users.sh: |
    #!/bin/bash
    set -e
    envsubst < init-users.sql.template > init-users.sql
    PGPASSWORD="$POSTGRES_PASSWORD" psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" -f /tmp/init-users.sql

