apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init-scripts
data:
  init-users.sql.template: |
    CREATE USER linkding WITH ENCRYPTED PASSWORD '${LINKDING_USER_PASSWORD}';
    CREATE DATABASE linkding;
    GRANT ALL PRIVILEGES ON DATABASE linkding TO linkding;

  init-users.sh: |
    #!/bin/bash
    set -e
    envsubst < /tmp/init-users.sql.template > /tmp/init-users.sql
